img{
    width: 20%;
    float:left;
    margin: 1.66%;
    transition: transform .2s;
}
img:hover{
    transform:scale(1.2)
}

p{
    font-family: 'Roboto Mono', monospace;
    margin-left: 1.66%;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #f1f1f1;
    width: 30%;
}

